{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
    <form action="{{ url_for('authentication.register') }}" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="password1">Password</label>
        <input type="password" name="password1" id="password1">
        <label for="password2">Repeat Your password</label>
        <input type="password" name="password2" id="password2">
        <button type="submit">Sign in</button>
    </form>
{% endblock %}