{% extends 'base.html' %}
{% block title %}Chats list{% endblock %}
{% block content %}
    <div class="content__chats_list">
        {% if users_last_chats_info %}
            <h1>Continue your chat with:</h1>
            <ul>
            {% for user_last_chat_info in users_last_chats_info %}
                    <li><a href="{{ url_for('chats.begin', companion_username=user_last_chat_info.0) }}">
                        <div class="content__user_chat_link"><div class="user_chat_link_name">{{ user_last_chat_info.1 }}</div><div class="user_chat_link_last_message">{{ user_last_chat_info.2 }}</div></div>
                    </a></li>
            {% endfor %}
            </ul>
        {% else %}
            <h1>You have not begun any chats yet.</h1>
        {% endif %}
    </div>
{% endblock %}
